

.card-img {
   
    opacity: 9;
}

.card-img-overlay {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

h5 {
    flex-wrap: wrap;
}

svg {
    color: #198754;
}

// // .btn {
//     // display: flex;
//     // justify-content: center;
//     // align-items: center;
// }

.btn.btn-primary {
    color: #fff;
    background-color: #198754;;
    border-color: #198754;
  
  
}




@media screen and (max-width: 480px) {
    
    .card-img-overlay {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }


    }

    // .container{
    //     display: grid;
    //     grid-template-columns: repeat(1,1fr);
    //     grid-template-rows: repeat(3,1fr);
    //     gap: 2vw 3vw;
    //     margin-right: 10vw;
    //     margin-left: 10vw;
    //     margin-top: 6vw;
    //     margin-bottom: 6vw;
