
.navbar-light .navbar-nav .nav-link{
    color: rgb(7, 7, 7);

}

.btn-outline-success {
    color: #fff;
    background-color: #198754;;
    border-color: #198754;  
}

.card.bg-dark.text-black{
    display: flex;
    flex-direction: column;
    margin-bottom: 10vw;
}

.card-img-overlay{ 
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end; 
   
}

.hero.card-title{
    color:white;
    font-size: 8vw;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.list-group {
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0.25rem;
}

svg {
    color: #198754;
}

.herotext{
    color: white;
    font-size: 4vw;
}

.btn-primary {
    color: #fff;
    font-size: 3vw;
    background-color: #198754;
    border-color: #198754;
}

.stages{
    padding-left: 1vw;
}

.contact-img{
    // width: 100%;
    // height: auto;
    display: none;
}

.review{
    text-decoration: none;
    color: white;
    text-align:center;
}
.review:hover{
    text-decoration: none;
    color: #198754;
}

.footpara{
    font-size: x-small;
    margin: 0px;
}
.mt-3{
    margin-top: 0rem !important;
}

@media screen and (min-width: 480px) {
    .contact-img{
        width: 100%;
        height: auto;
        display: block;
    }  
}

@media (min-width: 768px){
    
    .hero.card-title{
        // color:white;
        font-size: 9vw;
        // overflow-wrap: break-word;
        // word-wrap: break-word;
    }
    .herotext{
        // color: white;
        font-size: 4vw;
    }

    .btn-primary {
        // color: #fff;
        font-size: 3vw;
        // background-color: #198754;
        // border-color: #198754;
    }
}