@media screen and (min-width: 320px) {

    .hero-headline {
        font-size: 1.4rem !important;
        margin-bottom: 0 !important;
    }

    .hero-details {
        font-size: 0.7rem !important;
    }
}

@media screen and (min-width: 480px) {
    .contact-img {
        width: 100% !important;
        height: auto !important;
        display: block !important;
    }

    .hero-headline {
        font-size: 2rem !important;
    }

    .hero-details {
        font-size: 1rem !important;
    }

}

@media screen and (min-width: 549px) {
    .hero-headline {
        font-size: 3rem !important;
    }

    .hero-details {
        font-size: 1rem !important;
    }
}

@media screen and (min-width: 768px) {
    .hero-headline {
        font-size: 4rem !important;
    }

    .hero-details {
        font-size: 1.5rem !important;
    }

    .hero-booking-btn {
        font-size: 1.5rem !important;
        width: 10rem !important;
    }

    svg {
        color: #198754;
        width: auto;
        height: auto;
    }
}

@media screen and (min-width: 1023px) {
    .hero-headline {
        font-size: 6rem !important;
    }

    .hero-details {
        font-size: 2rem !important;
    }

    .hero-booking-btn {
        font-size: 1.5rem !important;
        width: 10rem !important;
    }
}

@media screen and (min-width: 1439px) {
    .hero-headline {
        font-size: 8rem !important;
    }

    .hero-details {
        font-size: 3rem !important;
    }

    .hero-booking-btn {
        font-size: 2rem !important;
        width: 12rem !important;
    }
}

@media screen and (min-width: 1940px) {
    .hero-headline {
        font-size: 10rem !important;
    }

    .hero-details {
        font-size: 5rem !important;
    }

    .hero-booking-btn {
        font-size: 3rem !important;
        width: 20rem !important;
    }
}